<%- include('partials/header.ejs'); %>
<%
function nestedComments(postComments) {
    if (postComments.length==0){
        return;
    }
%>
<ul class="children">
    <% for (let j = 0; j < postComments.length; j++) { %>
        <li class="comment">
            <div class="vcard bio">
                <img src="<%= postComments[j].userImg %>" alt="Image placeholder">
            </div>
            <div class="comment-body">
                <h3><%= postComments[j].user %></h3>
                <div class="meta"><%= postComments[j].date %></div>
                <p><%= postComments[j].body %></p>
                <p><a href="#" class="reply">Reply</a></p>
            </div>
            <% nestedComments(postComments[j].comments); %>
        </li>
    <% } %>
</ul>
<% } %>

<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-0">
            <div class="row d-flex no-gutters">
                <div class="col-lg-8 px-md-5 py-5">
                    <div class="row">
                        <div class="position-static position-lg-fixed mt-5">
                            <h1 class="w-100 display-3 font-weight-light">404</h1>
                            <h3 class="w-100">That page could not be found...</h3>
                            <h2 class="w-100 display-3 mt-3">I'm Sorry :(</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sidebar ftco-animate bg-light pt-5">
                    <div class="sidebar-box pt-md-4">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <label>
                                    <input type="text" class="form-control" placeholder="Search">
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Categories</h3>
                        <ul class="categories">
                            <li><a href="#">Fashion <span>(6)</span></a></li>
                            <li><a href="#">Technology <span>(8)</span></a></li>
                            <li><a href="#">Travel <span>(2)</span></a></li>
                            <li><a href="#">Food <span>(2)</span></a></li>
                            <li><a href="#">Photography <span>(7)</span></a></li>
                        </ul>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Popular Articles</h3>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('/images/image_1.jpg');"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept. 12, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('/images/image_2.jpg');"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept. 12, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('/images/image_3.jpg');"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept. 12, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Tag Cloud</h3>
                        <ul class="tagcloud">
                            <a href="#" class="tag-cloud-link">animals</a>
                            <a href="#" class="tag-cloud-link">human</a>
                            <a href="#" class="tag-cloud-link">people</a>
                            <a href="#" class="tag-cloud-link">cat</a>
                            <a href="#" class="tag-cloud-link">dog</a>
                            <a href="#" class="tag-cloud-link">nature</a>
                            <a href="#" class="tag-cloud-link">leaves</a>
                            <a href="#" class="tag-cloud-link">food</a>
                        </ul>
                    </div>

                    <div class="sidebar-box subs-wrap img px-4 py-5" style="background-image: url('/images/bg_1.jpg');">
                        <div class="overlay"></div>
                        <h3 class="mb-4 sidebar-heading">Newsletter</h3>
                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
                        <form action="#" class="subscribe-form">
                            <div class="form-group">
                                <label>
                                    <input type="text" class="form-control" placeholder="Email Address">
                                </label>
                                <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
                            </div>
                        </form>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Archives</h3>
                        <ul class="categories">
                            <li><a href="#">December 2018 <span>(10)</span></a></li>
                            <li><a href="#">September 2018 <span>(6)</span></a></li>
                            <li><a href="#">August 2018 <span>(8)</span></a></li>
                            <li><a href="#">July 2018 <span>(2)</span></a></li>
                            <li><a href="#">June 2018 <span>(7)</span></a></li>
                            <li><a href="#">May 2018 <span>(5)</span></a></li>
                        </ul>
                    </div>


                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Paragraph</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include('partials/footer.ejs'); %>