<%- include('partials/header.ejs'); %>
<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-0">
            <div class="row no-gutters">
                <% if (posts.length==0) { %>
                    <div class="mt-5 pt-5">
                        <h1 class="font-weight-bold display-4">No Articles Found.</h1>
                        <h4 class="font-weight-light">Go Back to the <a href="/">Home Page</a> </h4>
                    </div>
                <% } %>
                <% for (var i = 0; i < posts.length; i++) { %>
                    <div class="col-md-12 blog-wrap">
                        <div class="row no-gutters align-items-center">
                            <div class="col-md-6 img js-fullheight" style="background-image: url('/images/<%= posts[i].image %>');"></div>
                            <div class="col-md-6">
                                <div class="text p-md-5 p-4 ftco-animate">
                                    <div class="heading">
                                        <div class="meta-wrap">
                                            <p class="meta">
                                                <span><i class="icon-calendar mr-2"></i><%= posts[i].date %></span>
                                                <span><a href="/filter?category=<%= posts[i].category %>" class="text-capitalize"><i class="icon-folder-o mr-2"></i><%= posts[i].category %></a></span>
                                                <span><i class="icon-comment2 mr-2"></i><%= posts[i].numberOfComments %> Comment</span>
                                            </p>
                                        </div>
                                        <h2 class="mb-5"><a href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a></h2>
                                    </div>
                                    <%
                                        var preview = "";
                                        var pattern = new RegExp("^<p>[^<]");
                                        for (let j = 0; j < posts[i].body.length; j++) {
                                            if (pattern.test(posts[i].body[j])){
                                                preview = posts[i].body[j].substr(3,250);
                                                break;
                                            }
                                        }
                                        console.log(preview);
                                    %>
                                    <p><%= preview+"..." || posts[i].preview %></p>
                                    <div class="icon d-flex align-items-center my-5">
                                        <div class="img" style="background-image: url('<%= posts[i].img %>');"></div>
                                        <div class="position pl-3">
                                            <h4 class="mb-0"><%= posts[i].name %></h4>
                                            <span><%= posts[i].category %>.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
</div>
<%- include('partials/footer.ejs'); %>