<%
    let horizontal = !!post_meta.includes("hp");
    let horizontalClasses = horizontal ? " d-md-flex align-items-center" : "";
    let horizontalAClasses = horizontal? " img-2" : "";
    let horizontalDivClasses = horizontal? " text-2" : "";

    let flip = !!post_meta.includes("hpr");
    let flippedAClass = flip? " order-md-last" : "";
    let flippedDivClass = flip? " text-md-right" : "";
    let reversedDirection = post_meta.includes("vpr")? " d-flex flex-column-reverse": "";
%>
<div class="blog-entry ftco-animate<%= horizontalClasses %> <%= reversedDirection %>">
    <a href="posts/<%= post.id %>" class="img <%= horizontalAClasses %> <%= flippedAClass %>" style="background-image: url(images/<%= post.image %>);"></a>
    <div class="text p-4 <%= horizontalDivClasses %> <%= flippedDivClass %>">
        <h3 class="mb-2"><a href="posts/<%= post.id %>"><%= post.title %></a></h3>
        <div class="meta-wrap">
            <p class="meta">
                <span><i class="icon-calendar mr-2"></i><%= post.date %></span>
                <span><a href="single.html"><i class="icon-folder-o mr-2"></i><%= post.category %></a></span>
                <span><i class="icon-comment2 mr-2"></i><%= post.numberOfComments %> Comment</span>
            </p>
        </div>
        <p class="mb-4"><%= post.preview %></p>
        <p><a href="posts/<%= post.id %>" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
    </div>
</div>