<div class="col-lg-4 sidebar ftco-animate bg-light pt-5">
    <div class="sidebar-box pt-md-4">
        <form action="#" class="search-form">
            <div class="form-group">
                <span class="icon icon-search"></span>
                <label>
                    <input type="text" class="form-control" placeholder="Search">
                </label>
            </div>
        </form>
    </div>
    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Categories</h3>
        <ul class="categories">
            <% for (let category in categories) { %>
                <li><a href="#"><%= category %> <span>( <%= categories[category] %> )</span></a></li>
            <% } %>
        </ul>

    </div>

    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Recent Articles</h3>
        <% for (let i = 0; i < recentPost.length; i++) { %>
            <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url('/images/<%= recentPost[i].image%>');"></a>
                <div class="text">
                    <h3 class="heading"><a href="#"><%= recentPost[i].title %></a></h3>
                    <div class="meta">
                        <div><a href="#"><span class="icon-calendar"></span><%= recentPost[i].date %></a></div>
                        <div><a href="#"><span class="icon-person"></span><%= recentPost[i].name %></a></div>
                        <div><a href="#"><span class="icon-chat"></span> <%= recentPost[i].numberOfComments %></a></div>
                    </div>
                </div>
            </div>
        <% } %>

    </div>

    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Tag Cloud</h3>
        <ul class="tagcloud">
            <% for (let i = 0;i< tags.length;i++) { %>
                <a href="#" class="tag-cloud-link"><%= tags[i] %></a>
            <% } %>
        </ul>
    </div>

    <div class="sidebar-box subs-wrap img px-4 py-5" style="background-image: url('/images/bg_1.jpg');">
        <div class="overlay"></div>
        <h3 class="mb-4 sidebar-heading">Newsletter</h3>
        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
        <form action="#" class="subscribe-form">
            <div class="form-group">
                <label>
                    <input type="text" class="form-control" placeholder="Email Address">
                </label>
                <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
            </div>
        </form>
    </div>

    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Archives</h3>
        <ul class="categories">
            <% for (let archive in archives) { %>
                <li><a href="#"><%= archive %><span>(<%= archives[archive] %>)</span></a></li>
            <% } %>
        </ul>
    </div>
    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Paragraph</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
    </div>
</div>